<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Factories</title>
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1>Factories</h1>

<a th:href="@{/factories/create}">
    Create Factory
</a>

<br><br>

<table border="1">

    <thead>

    <tr>

        <th>ID</th>

        <th>Name</th>

        <th>PIB</th>

        <th>Actions</th>

    </tr>

    </thead>

    <tbody>

    <tr th:each="factory : ${factories}">

        <td th:text="${factory.id}"></td>

        <td th:text="${factory.name}"></td>

        <td th:text="${factory.pib}"></td>

        <td>

            <a th:href="@{'/factories/edit/' + ${factory.id}}">
                Edit
            </a>

            |

            <a th:href="@{'/factories/delete/' + ${factory.id}}">
                Delete
            </a>

        </td>

    </tr>

    </tbody>

</table>

</body>

</html>